.appContainer {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('../../images/postcard.png');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.content {
  width: 500px;
  min-height: 300px;
}

.title {
  text-align: center;
  font-size: 80px;
  font-family: 'Ma Shan Zheng', cursive;
}

.authForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 0 10px;
}

input {
  width: 85%;
  height: 48px;
  padding: 0 14px;
  border: 1px solid #e1e1e1;
  font-size: 16px;
  box-sizing: border-box;
  margin-bottom: 10px;
  
  &:focus {
    border: 1px solid #0688fa;
  }
}

.loginButton {
	box-shadow: inset 0px -3px 7px 0px #29bbff;
	background: linear-gradient(to bottom, #2dabf9 5%, #0688fa 100%);
	background-color: #2dabf9;
	border-radius: 3px;
	border: 1px solid #0688fa;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
	font-family: Arial;
	font-size: 18px;
	padding: 7px 55px;
	text-decoration:none;
  text-shadow:0px 1px 0px #263666;
  width: 50%;

  &:active  {
    position:relative;
	  top:1px;
  }
}

.buttonFB {
  display: block;
  margin: 0 auto;
  padding: 8px 15px;
  width: 50%;
}

.buttonGoogleWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
}

.buttonGoogle {
  width: 50%;
  padding: 7px 15px!important;
  box-shadow: none!important;
  border: 1px solid #999999!important;
  justify-content: center;

  & > div, & > span {
    padding: 0!important;
  }
}

@media screen and (max-width: 1024px) {
  .appContainer {
    background-image: none;
  }
}